body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: #1a5807;

    display: flex;
    justify-content: center;

    font-size: 16px;
}

.todo-wrapper {
    width: 500px;
    text-align: center;
}

.form-wrapper {
    padding: 30px;
    background-color: #13285b;
    margin-top: 20%;
    border-radius: 15px;
}

.todo-form {
    position: relative;
    display: flex;
    align-items: center;

    height: 40px;
    padding: 5px;
}

.todo-form input {
    position: relative;
    right: 0;
    left: 0;
    width: 100%;
    max-width: 310px;

    padding-left: 10px;
    padding-right: 120px;

    height: 100%;
    font-size: 18px;
    outline: none;
}

.form-btn {
    position: absolute;
    right: 0;
    width: 100%;
    max-width: 120px;
    height: 46px;
    cursor: pointer;
    text-transform: uppercase;

    background-color: #7c8ace;
    border: 0;
    color: #fff;
    transition: all 0.2s linear;
}

.form-btn:hover {
    background-color: #617bea;
}

/* --- TODO ITEM --- */

.todo-item {
    display: flex;
    align-items: center;

    border-radius: 15px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 7px;
    padding-bottom: 7px;

    background-color: #13285b;
    color: #fff;
    cursor: pointer;
    z-index: 1;

    margin-top: 20px;
}

.todo-item-edited {
    padding: 25px;
}

.todo-item-edited input {
    font-size: 16px;
    width: 100%;
    margin-right: 10px;
}

.edited-form {
    display: flex;
    flex-grow: 1;
}

.complited {
    background-color: #ac000082;
}

.complited h3 {
    text-decoration: line-through;
    color: grey;
}

.complited .btn,
.complited .btn-checkbox {
    opacity: 1;
    visibility: visible;
    background-color: grey;
}

.todo-item:hover .btn,
.todo-item:hover .btn-checkbox {
    opacity: 1;
    visibility: visible;
}

.todo-item-title {
    flex-grow: 1;
    display: flex;
    justify-content: start;
}

.btn {
    color: white;
    padding: 5px 15px;
    text-decoration: none;
    background-color: #7c8ace;

    margin-right: 15px;
    border-radius: 5px;
    font-size: 14px;
}

.btn,
.btn-checkbox {
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    transition: all 0.2s linear;
}

.btn:hover {
    background-color: rgba(124, 138, 206, 0.75);
}

.btn:last-child() {
    margin-right: 0;
}